@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: darkgray;
    /* audio controls background */
    --plyr-audio-controls-background: rgb(179, 186, 105);
    /* audio controls color */
    --plyr-audio-control-color: white;
    /* font family for player */
    --plyr-font-family: "Danfo";
    /* font size of player  */
    --plyr-font-size-time: 16px;

    /* Other optional customiziations */
    --plyr-audio-control-color-hover:  black;
    --plyr-audio-progress-buffered-background:  black;
    --plyr-audio-range-track-background: white;
    --plyr-tooltip-background: white;
    --plyr-tooltip-color: rgb(244, 181, 181); 
    --plyr-control-icon-size: 16px;
}



h1{

    font-family: "Danfo", serif;
    text-align: center;
    color:aquamarine;
    
 } 

 h2{

    font-family: "Danfo", serif;
    text-align: center;
    color: brown;

 }

body {
    background-image: linear-gradient(70deg, lightpink,coral, teal);
    /* background: lightpink; */
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;

    background: lightcoral;
}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
    
    
}

/* Primary Content */
article {
    /* flow content horizontally */
    display: flex;
    gap: 1em;
    justify-content: center;
}

article section {
    /* keep flex'd child same width */
    flex: 1;
    font-family: "Caveat", cursive;
    font-weight: 500;
}

/* Footer */
footer {
    text-align: center;
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}

